In [2]:
import pandas as pd
import requests
import json
from sqlalchemy import create_engine

In [3]:
csv_path = "Resources/airport.csv"

In [4]:
airport = pd.read_csv(csv_path, encoding="utf-8")
airport.head()

,airport_name,link,title,author,author_country,date,content,experience_airport,date_visit,type_traveller,overall_rating,queuing_rating,terminal_cleanliness_rating,terminal_seating_rating,terminal_signs_rating,food_beverages_rating,airport_shopping_rating,wifi_connectivity_rating,airport_staff_rating,recommended
0,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,Klaus Malling,Denmark,2014-02-11,A small very effective airport with few flight...,NaN,NaN,NaN,9.0,5.0,5.0,NaN,NaN,NaN,4.0,NaN,NaN,1
1,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,S Kroes,Netherlands,2013-02-13,This is a nice and modern airport at the momen...,NaN,NaN,NaN,9.0,5.0,4.0,NaN,NaN,NaN,4.0,NaN,NaN,1
2,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,M Andersen,Denmark,2012-08-07,A very nice airy terminal - that seems modern ...,NaN,NaN,NaN,9.0,5.0,5.0,NaN,NaN,NaN,4.0,NaN,NaN,1
3,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,Paul Van Alsten,France,2011-05-22,AMS-AAL and quite satisfied with this regional...,NaN,NaN,NaN,5.0,5.0,5.0,NaN,NaN,NaN,3.0,NaN,NaN,0
4,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,K Fischer,NaN,2010-08-04,Very quick check-inn and security screening. N...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
airport.reset_index(inplace=True)
airport['index'] = airport.index
airport = airport[["airport_name","overall_rating"]]

airport

          airport_name  overall_rating
0      aalborg-airport             9.0
1      aalborg-airport             9.0
2      aalborg-airport             9.0
3      aalborg-airport             5.0
4      aalborg-airport             4.0
...                ...             ...
17716   zurich-airport             3.0
17717   zurich-airport             4.0
17718   zurich-airport             3.0
17719   zurich-airport             5.0
17720   zurich-airport             5.0

[17721 rows x 2 columns]

In [6]:
avg_airport = airport.groupby(['airport_name']).mean()['overall_rating']
avg_airport

airport_name
aalborg-airport      5.750000
aarhus-airport            NaN
aberdeen-airport     3.181818
abidjan-airport      8.000000
abu-dhabi-airport    3.692308
                       ...
zanzibar-airport     2.200000
zaragoza-airport     5.000000
zhengzhou-airport    3.000000
zhuhai-airport       3.500000
zurich-airport       5.716216
Name: overall_rating, Length: 741, dtype: float64

In [7]:
avg_airport_summary = pd.DataFrame({'avg_overall_rating':avg_airport})
avg_airport_summary

                   avg_overall_rating
airport_name
aalborg-airport              5.750000
aarhus-airport                    NaN
aberdeen-airport             3.181818
abidjan-airport              8.000000
abu-dhabi-airport            3.692308
...                               ...
zanzibar-airport             2.200000
zaragoza-airport             5.000000
zhengzhou-airport            3.000000
zhuhai-airport               3.500000
zurich-airport               5.716216

[741 rows x 1 columns]

In [8]:
avg_airport_summary.reset_index(inplace=True)
avg_airport_summary['id'] = avg_airport_summary.index
airport_summary = avg_airport_summary[["id","airport_name","avg_overall_rating"]]
airport_summary

      id       airport_name  avg_overall_rating
0      0    aalborg-airport            5.750000
1      1     aarhus-airport                 NaN
2      2   aberdeen-airport            3.181818
3      3    abidjan-airport            8.000000
4      4  abu-dhabi-airport            3.692308
..   ...                ...                 ...
736  736   zanzibar-airport            2.200000
737  737   zaragoza-airport            5.000000
738  738  zhengzhou-airport            3.000000
739  739     zhuhai-airport            3.500000
740  740     zurich-airport            5.716216

[741 rows x 3 columns]

In [9]:
airport_rating = airport_summary[airport_summary.avg_overall_rating>5]
airport_rating

      id                 airport_name  avg_overall_rating
0      0              aalborg-airport            5.750000
3      3              abidjan-airport            8.000000
9      9             adelaide-airport            5.272727
12    12            ahmedabad-airport            8.333333
14    14                akita-airport            6.000000
..   ...                          ...                 ...
724  724  wroclaw-strachowice-airport            8.250000
725  725               xiamen-airport            6.750000
726  726        xian-xianyang-airport            6.000000
728  728               yangon-airport            6.500000
740  740               zurich-airport            5.716216

[229 rows x 3 columns]

In [10]:
airport_rating = airport_rating.drop_duplicates(subset=None, inplace=False)

In [11]:
airport_rating

      id                 airport_name  avg_overall_rating
0      0              aalborg-airport            5.750000
3      3              abidjan-airport            8.000000
9      9             adelaide-airport            5.272727
12    12            ahmedabad-airport            8.333333
14    14                akita-airport            6.000000
..   ...                          ...                 ...
724  724  wroclaw-strachowice-airport            8.250000
725  725               xiamen-airport            6.750000
726  726        xian-xianyang-airport            6.000000
728  728               yangon-airport            6.500000
740  740               zurich-airport            5.716216

[229 rows x 3 columns]

In [12]:
cities = airport_rating['airport_name'].tolist()

In [13]:
len(cities)

229

In [14]:
lat = []
lng =[]

base_url = "https://maps.googleapis.com/maps/api/geocode/json" 

for city in cities:
    try:
        params = {"address": city, "key": "AIzaSyCnAMJCzZKtCorueM4zY2AIwQVNYkJ95XM"}
        response = requests.get(base_url, params=params).json()
        lat.append(response["results"][0]["geometry"]["location"]["lat"])
        lng.append(response["results"][0]["geometry"]["location"]["lng"])
    except:
        print('failed')
        print(f'at {city}')
        final_airport_clean = airport_rating.loc[airport_rating['airport_name'] != city]

failed
at providence-airport

In [15]:
final_airport_clean.describe()

               id  avg_overall_rating
count  228.000000          228.000000
mean   393.758772            6.510204
std    209.404481            1.296995
min      0.000000            5.022727
25%    242.750000            5.500000
50%    392.000000            6.029412
75%    571.250000            7.000000
max    740.000000           10.000000

In [16]:
len(lat)

228

In [17]:
len(lng)

228

In [18]:
final_airport_clean['Lat'] = lat
final_airport_clean['Lng'] = lng
final_airport_clean

/Users/tommysmacbook/opt/anaconda3/envs/PythonDataOne/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/tommysmacbook/opt/anaconda3/envs/PythonDataOne/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,airport_name,avg_overall_rating,Lat,Lng
0,0,aalborg-airport,5.750000,57.096919,9.856463
3,3,abidjan-airport,8.000000,5.359952,-4.008256
9,9,adelaide-airport,5.272727,-34.938220,138.537324
12,12,ahmedabad-airport,8.333333,23.073426,72.626571
14,14,akita-airport,6.000000,39.614620,140.217654
...,...,...,...,...,...
724,724,wroclaw-strachowice-airport,8.250000,51.104017,16.905001
725,725,xiamen-airport,6.750000,24.539071,118.134368
726,726,xian-xianyang-airport,6.000000,34.437111,108.757329
728,728,yangon-airport,6.500000,16.902715,96.135443
740,740,zurich-airport,5.716216,47.461235,8.553498

In [19]:
test_df = final_airport_clean.iloc[:20]
test_df

    id                airport_name  avg_overall_rating        Lat         Lng
0    0             aalborg-airport            5.750000  57.096919    9.856463
3    3             abidjan-airport            8.000000   5.359952   -4.008256
9    9            adelaide-airport            5.272727 -34.938220  138.537324
12  12           ahmedabad-airport            8.333333  23.073426   72.626571
14  14               akita-airport            6.000000  39.614620  140.217654
16  16              albany-airport            6.333333  42.747933  -73.802561
17  17         albuquerque-airport            5.444444  35.043333 -106.612909
19  19            alderney-airport            9.000000  49.706952   -2.215638
23  23       alice-springs-airport            7.333333 -23.801643  133.903450
29  29    amman-queen-alia-airport            5.166667  31.721694   35.996253
31  31  amsterdam-schiphol-airport            5.545455  52.310539    4.768274
33  33              ankara-airport            7.500000  39.933363   32.859742
36  36      antwerp-deurne-airport            5.500000  51.188746    4.460873
39  39              astana-airport            7.000000  51.027136   71.460743
40  40            asturias-airport            6.000000  43.562382   -6.033498
42  42              athens-airport            6.166667  37.935647   23.948416
44  44            auckland-airport            5.506024 -37.008248  174.785036
59  59   bangkok-don-muang-airport            6.812500  13.913260  100.604199
73  73               belem-airport            6.000000  -1.456343  -48.501299
76  76            belgrade-airport            5.192308  44.819638   20.290084

In [20]:
for x, y in zip(final_airport_clean['Lat'],final_airport_clean['Lng']):
    print(f'{x}, {y}')

57.0969187, 9.8564632
5.3599517, -4.0082563
-34.9382199, 138.5373244
23.0734262, 72.626571
39.6146203, 140.217654
42.7479327, -73.80256070000002
35.0433333, -106.6129085
49.7069521, -2.215638
-23.8016431, 133.9034505
31.7216936, 35.9962529
52.3105386, 4.7682744
39.9333635, 32.8597419
51.18874599999999, 4.4608734
51.0271356, 71.460743
43.5623825, -6.0334978
37.9356467, 23.9484156
-37.0082476, 174.7850358
13.9132602, 100.6041987
-1.4563432, -48.501299
44.8196377, 20.2900841
17.5155938, -88.19475059999999
43.3065915, -2.9034838
33.5624269, -86.754126
43.0603227, 74.47096630000001
46.77518999999999, -100.7572447
4.7009694, -74.146093
43.5658231, -116.222316
51.1215031, -114.0076156
-35.3052327, 149.1933934
-33.971463, 18.6020851
43.2140187, 2.3084345
34.8585531, 136.8114851
35.2144026, -80.9473146
30.567456, 103.9492936
18.767749, 98.9640088
41.78677589999999, -87.7521884
46.935168, 28.935516
29.7191667, 106.6416667
-43.48763, 172.5374026
15.1969303, 120.5588863
50.86662279999999, 7.1412431
39.9611755, -82.99879419999999
51.8490591, -8.4898845
16.0554407, 108.2023592
28.5561624, 77.0999578
55.0396753, -7.1558125
42.2162491, -83.3553642
53.47782249999999, -1.0054727
51.5173204, 7.6120128
-45.9258615, 170.2021681
-29.85868039999999, 31.0218404
56.7447746, 60.8029485
-50.283977, -72.0536406
31.8053354, -106.3824345
0.045108, 32.4426736
26.640628, -81.8723084
40.9774796, -85.1960362
47.6713781, 9.5119348
28.4482157, -13.866349
33.5903145, 130.4467091
54.3788433, 18.468075
44.4134023, 8.8446186
41.89685590000001, 2.7657585
57.776411, 11.8647508
57.668799, 12.292314
42.8824265, -85.524281
15.783471, -90.23075899999999
49.434081, -2.5994887
49.21331790000001, 119.8240614
25.2608759, 51.61384169999999
53.633622, 9.9974128
43.17279569999999, -79.93174760000001
44.4450987, -68.3621263
52.46301159999999, 9.6846184
-17.9186996, 31.0988617
40.1942375, -76.7576672
6.936910999999999, 100.393592
20.7435735, 96.79357449999999
60.31827509999999, 24.9497147
19.7188342, -155.0416866
-42.836354, 147.5074608
22.308047, 113.9184808
-10.591054, 142.2945494
29.6459141, -95.27689509999999
53.57604540000001, -0.3496088
17.2402633, 78.42938509999999
38.8748594, 1.3712232
10.8315005, 122.4962073
37.4601908, 126.4406957
39.7168593, -86.2955952
54.0866068, -4.6338765
38.293763, 27.1520285
43.6033592, -110.7362976
30.49407129999999, -81.6879368
36.7452935, -6.0608778
49.2074637, -2.1952207
33.6761901, -117.8674759
34.4320024, 135.2303939
22.5746682, 120.3484723
24.9007815, 67.16810269999999
50.4728015, 19.0758814
54.9670172, 24.0738475
41.1572074, -81.4166412
52.1813983, -9.5368925
50.4119806, 30.44329239999999
-1.9634421, 30.1349392
58.95373499999999, -2.9024693
46.6500125, 14.3248578
2.7417476, 101.7015569
9.548436599999999, 100.0630279
24.994713, 102.74595
-25.937751, 27.926416
34.8723402, 33.6203516
-41.5431009, 147.2105667
51.4185706, 12.2340403
38.0405837, -84.5037164
10.593353, -85.544254
-13.7804302, 33.7802318
-12.0240527, -77.112036
-28.8366549, 153.2632926
34.7307049, -92.2216531
46.2259433, 14.4559143
40.7956382, -73.0987574
38.175662, -85.7369231
19.9010278, 102.1684165
46.0044161, 8.910109499999999
49.6289002, 6.2147446
39.8873296, 4.259619499999999
35.8528531, 14.4867114
12.1444609, -86.1710823
33.6598257, -85.8316318
25.5550518, 34.5907958
3.631202, 98.87507099999999
47.989376, 10.2324256
35.0420679, -89.9791729
42.9475534, -87.89664599999999
-34.8370966, -56.0161798
32.3047762, -86.3906452
48.3509684, 11.7764347
23.6014022, 58.28997249999999
26.1521074, -81.77494759999999
36.126317, -86.67737129999999
29.8266667, 121.4619444
49.4971202, 11.079808
37.7125689, -122.2197428
26.2064033, 127.6465422
34.0559976, -117.5980922
28.4179167, -81.3041451
28.7759403, -81.2342879
45.4215296, -75.69719309999999
15.1361767, 105.7812287
33.8303194, -116.5070468
5.4560033, -55.2000586
10.5976964, -61.339527
42.0768382, 24.8439288
37.7493461, -25.7103849
18.574715, -72.2949484
45.58976939999999, -122.5950942
41.2421186, -8.6785514
52.4199508, 16.8286158
50.10179100000001, 14.2631811
42.5745637, 21.0295084
20.6805184, -105.2523762
44.8992174, 13.9234074
36.0662299, 120.38299
46.8130816, -71.20745959999999
35.88007899999999, -78.7879963
-21.2025732, -159.8019144
-8.1259315, -34.92401540000001
37.5065795, -77.3208112
56.9226554, 23.9733129
45.2185704, 14.5697822
51.95550859999999, 4.4398832
66.563104, 25.8300783
38.6950854, -121.5900648
47.7942439, 13.0033427
37.3639472, -121.9289375
43.3563455, -1.7912035
-33.4488897, -70.6692655
18.4302189, -69.67648539999999
42.7821844, 141.6890474
32.1294007, -81.20178399999999
37.4201674, -5.89305
52.6996573, -8.914691099999999
41.804778, 123.432968
13.4074441, 103.8146077
1.3644202, 103.9915308
43.5828065, -96.7402171
41.9608643, 21.6273098
51.5701932, 0.6924774
37.2382374, -93.3972155
13.909444, -60.978893
41.4984032, -74.1008627
59.6019303, 16.6284076
43.1139223, -76.1136982
25.0796514, 121.234217
59.4165934, 24.7991302
27.9771524, -82.5311382
41.6696083, 44.964349
32.005532, 34.8854112
28.2915637, -16.6291304
32.546582, -116.974997
41.4191706, 19.714428
35.5493932, 139.7798386
35.7719867, 140.3928501
-22.0159692, 166.2156508
43.6284819, -79.3959577
47.4259456, 0.7191442
-19.2470485, 146.7667935
69.6819354, 18.9162637
36.8475562, 10.2175601
49.1966913, -123.1815123
45.39715349999999, 10.8853875
17.9757058, 102.6331035
55.59964799999999, 37.27123419999999
52.4492645, 20.6512374
38.851242, -77.04023149999999
37.1870995, 122.2289963
-41.3275941, 174.8075984
37.68717609999999, -97.33005299999999
58.45338829999999, -3.0876712
-22.4870895, 17.4631457
49.9098283, -97.2365461
51.104017, 16.9050009
24.5390705, 118.134368
34.437111, 108.7573294
16.9027152, 96.1354435
47.4612352, 8.5534976

In [21]:
hotels = []
ratings = []

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for x, y in zip(final_airport_clean['Lat'], final_airport_clean['Lng']):
    try:
        # geocoordinates
        target_coordinates = (f'{x}, {y}')
        target_search = "Hotel"
        target_radius = 8000
        target_type = "lodging"

        # set up a parameters dictionary
        params = {
            "location": target_coordinates,
            "keyword": target_search,
            "radius": target_radius,
            "type": target_type,
            "key": "AIzaSyBjYLKJMRP1E3eFv1nf-_5jRtOnnCJoxhg"
        }
                
        # run a request using our params dictionary
        response = requests.get(base_url, params=params)
        places_data = response.json()

        hotel_data = places_data["results"][0]["name"]
        rating_data = places_data["results"][0]["rating"]
        
        hotels.append(hotel_data)
        ratings.append(rating_data)
    except:
        print('failed')
        print(f'at {x},{y}')
        cleaned_airport = final_airport_clean.loc[final_airport_clean['Lat'] != x]

failed
at 43.0603227,74.47096630000001
failed
at -50.283977,-72.0536406
failed
at -13.7804302,33.7802318

In [22]:
cleaned_airport.describe()

               id  avg_overall_rating         Lat         Lng
count  227.000000          227.000000  227.000000  227.000000
mean   393.735683            6.513553   29.998571    5.868234
std    209.866963            1.298873   25.031300   82.226534
min      0.000000            5.022727  -50.283977 -159.801914
25%    241.500000            5.500000   21.525810  -76.898949
50%    391.000000            6.058824   37.460191    9.511935
75%    571.500000            7.000000   46.437978   63.985526
max    740.000000           10.000000   69.681935  174.807598

In [23]:
cleaned_airport

,id,airport_name,avg_overall_rating,Lat,Lng
0,0,aalborg-airport,5.750000,57.096919,9.856463
3,3,abidjan-airport,8.000000,5.359952,-4.008256
9,9,adelaide-airport,5.272727,-34.938220,138.537324
12,12,ahmedabad-airport,8.333333,23.073426,72.626571
14,14,akita-airport,6.000000,39.614620,140.217654
...,...,...,...,...,...
724,724,wroclaw-strachowice-airport,8.250000,51.104017,16.905001
725,725,xiamen-airport,6.750000,24.539071,118.134368
726,726,xian-xianyang-airport,6.000000,34.437111,108.757329
728,728,yangon-airport,6.500000,16.902715,96.135443
740,740,zurich-airport,5.716216,47.461235,8.553498

In [24]:
hotel_ratings = pd.DataFrame({"Hotel_Name":hotels, "Hotel_Rating":ratings})
hotel_ratings

                                  Hotel_Name  Hotel_Rating
0       Radisson Blu Limfjord Hotel, Aalborg           4.0
1                            Pullman Abidjan           4.6
2    InterContinental Adelaide, an IHG Hotel           4.3
3                         Comfort Inn Sunset           4.1
4                        Hotel Plaza Crypton           3.7
..                                       ...           ...
220                      Arche Hotel Wrocław           4.4
221                            Hilton Xiamen           4.4
222                                    空港大酒店           4.1
223                     Royal Pavilion Hotel           4.0
224       Radisson Blu Hotel, Zurich Airport           4.3

[225 rows x 2 columns]

In [26]:
cleaned_airport.reset_index(inplace=True)
cleaned_airport['Id'] = cleaned_airport.index
cleaned_airport = cleaned_airport[['Id','airport_name', 'avg_overall_rating']]

/Users/tommysmacbook/opt/anaconda3/envs/PythonDataOne/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
cleaned_airport_df = cleaned_airport.copy()
cleaned_airport_df.head()

   Id       airport_name  avg_overall_rating
0   0    aalborg-airport            5.750000
1   1    abidjan-airport            8.000000
2   2   adelaide-airport            5.272727
3   3  ahmedabad-airport            8.333333
4   4      akita-airport            6.000000

In [28]:
hotel_ratings.reset_index(inplace=True)
hotel_ratings['id'] = hotel_ratings.index
hotel_ratings = hotel_ratings[['id','Hotel_Name', 'Hotel_Rating']]

In [29]:
hotel_ratings_df = hotel_ratings.copy()
hotel_ratings_df.head()

   id                               Hotel_Name  Hotel_Rating
0   0     Radisson Blu Limfjord Hotel, Aalborg           4.0
1   1                          Pullman Abidjan           4.6
2   2  InterContinental Adelaide, an IHG Hotel           4.3
3   3                       Comfort Inn Sunset           4.1
4   4                      Hotel Plaza Crypton           3.7

In [30]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'airports_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [31]:
engine.table_names()

/Users/tommysmacbook/opt/anaconda3/envs/PythonDataOne/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['airports', 'hotels']

In [32]:
cleaned_airport_df.to_sql(name='airports', con=engine, if_exists='replace', index=False)

In [33]:
hotel_ratings_df.to_sql(name='hotels', con=engine, if_exists='replace', index=False)

In [34]:
pd.read_sql_query('select * from airports', con=engine).head()

   Id       airport_name  avg_overall_rating
0   0    aalborg-airport            5.750000
1   1    abidjan-airport            8.000000
2   2   adelaide-airport            5.272727
3   3  ahmedabad-airport            8.333333
4   4      akita-airport            6.000000

In [35]:
pd.read_sql_query('select * from hotels', con=engine).head()

   id                               Hotel_Name  Hotel_Rating
0   0     Radisson Blu Limfjord Hotel, Aalborg           4.0
1   1                          Pullman Abidjan           4.6
2   2  InterContinental Adelaide, an IHG Hotel           4.3
3   3                       Comfort Inn Sunset           4.1
4   4                      Hotel Plaza Crypton           3.7